:root {
  --top: 0px;
  --left: 0px;
}

#container {
  position: relative;
  background-color: #30374a;
  display: flex;

  width: min(100vw, 1000px);
  height: 500px;

  margin: 15px;
  border-radius: .5rem;

  overflow: hidden;

  box-shadow: 0 0 15px rgba(0, 0, 0, .8);
}

.square {
  background-color: red;
  position: absolute;

  width: 150px;
  height: 150px;

  box-shadow: 0 0 20px rgb(255, 255, 255, .7); 
  top: var(--top);
  left: var(--left);
}
