#container {
  position: relative;
  background-color: #30374a;
  display: flex;

  width: min(100vw, 1000px);
  height: 500px;

  margin: 15px;
  border-radius: .5rem;

  overflow: hidden;

  box-shadow: 0 0 15px rgba(0, 0, 0, .8);
}

.element {
  width: 150px;
  height: 150px;
}

/* squares */

.square1 {
  background-color: red;
  position: absolute;
  bottom: 0;
}

.square2 {
  background-color: green;
  position: absolute;
  top: 0;
}

.square3 {
  background-color: blue;
  position: absolute;
  right: 0;
}

.active {
  box-shadow: 0 0 20px rgb(255, 255, 255, .7); 
}
